main {
    width: 100%;
    height: 77%;
    min-height: 77vh;
}

.formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}

.formu {
    width: 100vw; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    outline: none;
    display: block;
    color: black;
    padding: 7px;
    border: none;
    border-bottom: 2px solid rgba(71, 71, 71, 0.747);
    margin-bottom: 10px;
    font-size: 18px;
    height: 35px;
    background-color: transparent;
}

::placeholder{
    color: black;
}

.formulario_dos {
    width: 35%;
    border: none;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    display: block;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-width: 1px 1px 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all .3s;
    outline: none;
}


@keyframes animac {
    from {
        background-color: rgba(226, 98, 119, 0.829)
    }

    to {
        background-color: rgba(34, 63, 92, 0.836)
    }
}

#content {
    animation-name: animac;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

textarea {
    width: 100%;
    height: 90px;
    background-color: transparent;
    resize: none;
}

@media screen and (max-width: 689px) {
    main{
        min-height: 77vh;
    }

    .form {
        width: 80%;
    }

    .formu {
        width: 100vw;
        height: 55vh;
    }

    .formulario input[type="submit"] {
        width: 40%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px;
}

    button[type="submit"] {
        width: 60px;
        height: 30px;
    }

    fieldset {
        width: 80%;
    }

}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    main{
        min-height: 77vh;
    }

    .form {
        width: 60%;
    }

    .formulario input[type="submit"] {
        width: 20%;
    }

    fieldset {
        width: 70%;
    }
}