main {
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navegacion-titulo{
   display: none;
}

#tarjetas{
    display: none;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 28px rgba(0, 0, 0, 0.781);
    box-shadow: -4px -4px 10px 3px rgba(38, 54, 70, 0.562);
    background-color: rgba(212, 210, 208, 0.582);
}

.general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px;
    padding: 0px 10px;
}

.titulo_tarjeta{
    width: 100%;
}

.titulo_uno{
    text-decoration-line: underline;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
}

.fotos_detalles{
    width: 40%;
    margin: 0px 25px;
}

.fotos_detalles img{
    width: 250px;
    height: 150px;
    box-shadow: -4px -4px 10px 3px rgba(0, 0, 0, 0.52);
}

.detalle{
    font-size: 16px;
    margin: 15px 0px;
}

.detalles_abajo{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.detalles_uno{
    width: 50%;
}
.detalles_dos{
    width: 50%;
}

.precio{
    width: 100%;
    height: 35px;
    background-color: rgba(190, 43, 92, 0.61);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.precio p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: right;
    font-weight: bolder;
    margin-right: 10px;
}

@media screen and (max-width: 689px) {
    .contenedor{
        width: 80%;
    }

    .general{
        flex-direction: column;
        justify-content: center;
    }

    .fotos_detalles img{
        width: 80%;
        height: 150px;
    }

    .fotos_detalles{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    .contenedor{
        width: 80%;
    }

    .general{
        flex-direction: column;
        justify-content: center;
    }

    .fotos_detalles img{
        width: 50%;
        height: 150px;
    }

    .fotos_detalles{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 20px 0px;
    }
}
