main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Imagenes/fondo-home.jpg);
}

#tarjetas{
    display: none;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px;
    box-shadow: -6px -6px 10px 6px rgba(0, 0, 0, 0.562);
    background-color: rgba(212, 210, 208, 0.87);
    padding-top: 5px;
}

.general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px;
    padding: 0px 10px;
}

.titulo_tarjeta{
    width: 100%;
}

.titulo_uno{
    text-decoration-line: underline;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    margin-bottom: 15px;
}

.fotos_detalles{
    width: 40%;
    margin: 0px 25px;
}

.fotos_detalles img{
    width: 250px;
    height: 150px;
    box-shadow: -4px -4px 10px 3px rgba(0, 0, 0, 0.52);
}

.card-imagen {
    display: relative;
    overflow: hidden;
}

.zoomable {
    transition: transform .5s;

    display: absolute;
}

.zoomable:hover {
    transform: scale(1.1);
}

.detalle{
    font-size: 16px;
    margin: 20px 5px;
    font-weight: bold;
}

.detalles_abajo{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.detalles_uno{
    width: 50%;
}

.detalles_dos{
    width: 50%;
}

.precio{
    width: 100%;
    height: 35px;
    background-color: rgba(190, 43, 92, 0.61);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-radius: 20px 0px;
}

.precio p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: right;
    font-weight: bolder;
    margin-right: 10px;
}

@media screen and (max-width: 689px) {
    .fotos_detalles img{
        width: 200px;
        height: 100px;
    }

    .contenedor{
        width: 70%;
        height: fit-content;
        padding-top: 10px;
        margin-bottom: 30px;
    }

    .general{
        flex-direction: column;
        justify-content: center;
    }

    .titulo_uno{
        font-size: 28px;
    }

    .detalle {
        font-size: 12px;
    }

    .fotos_detalles img{
        width: 80%;
        height: 150px;
    }

    .fotos_detalles{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 20px 0px;
    }

    .precio p{
        font-size: 20px;
     }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    .home p {
        font-size: 30px;
    }

    .contenedor{
        width: 60%;
        height: max-content;
        padding-top: 10px;
        margin-bottom: 30px;
    }

    .general{
        flex-direction: column;
        justify-content: center;
    }

    .fotos_detalles img{
        width: 50%;
        height: 150px;
    }

    .fotos_detalles{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 20px 0px;
    }
}
