main {
    width: 100%;
    height: 75%;
    min-height: 75vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 10px;
}

input[type="checkbox"] {
    margin-left: 15px;
    background-color: transparent;
}

.category {
    height: fit-content;
    margin: 0px 10px 0px 20px;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.busqueda {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#busquedaDOS {
    width: 100%;
}

input[type="search"] {
    width: 400px;
    height: 30px;
    background-color: rgba(26, 31, 56, 0.541);
    margin: 0px 15px;
    border-radius: 5px;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#search {
    display: none;
}

.container_card {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: 240px;
    height: 300px;
    border-radius: 15px 0px;
    background-color: rgba(202, 202, 202, 0.733);
    border: 1px solid rgba(0, 0, 0, 0.664);
    margin: 30px;
}

.precio {
    color: black;
}

.item img {
    width: 100%;
    height: 180px;
    margin: 0px 0px 25px 0px;
}

.card-imagen {
    display: relative;
    overflow: hidden;
}

.zoomable {
    transition: transform .6s;

    display: absolute;
}

.zoomable:hover {
    transform: scale(1.2);
}

.titulo_dos {
    width: 100%;
    font-size: 19px;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
    margin: 10px 0px;
}

.detalles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 10px 0px;
}

.detalles p {
    font-size: 15px;
    margin: 0px 10px;
}

.precio {
    font-weight: bolder;
}

.boton_d {
    width: fit-content;
    border: 1px solid black;
    background: linear-gradient(to right bottom, #009dff8f, #ec2f4b94);
    border-radius: 3px;
    padding: 5px 7px;
    box-shadow: -2px -2px 6px 2px rgba(58, 51, 51, 0.52);
    display: flex;
    align-items: center;
}

.boton_d a {
    text-decoration-line: none;
    color: black;
    font-size: 16px;
}

.ceroResultado {
    width: 700px;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinEventos {
    color: black;
    font-size: 20px;
}

@media screen and (max-width: 689px) {
    main {
        height: 75%;
        min-height: fit-content;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .category {
        margin-bottom: 5px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .category label {
        width: 130px;
        font-size: 12px;
    }

    .busqueda {
        justify-content: center;
        align-items: center;
    }

    input[type="search"] {
        width: 250px;
        height: 28px;
    }

    .container_card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item {
        width: 210px;
        height: 250px;
    }

    .item img {
        width: 100%;
        height: 130px;
    }

    .titulo_dos {
        font-size: 14px;
    }

    .ceroResultado {
        width: 700px;
        height: 44vh;
    }

    .sinEventos {
        font-size: 15px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    main {
        height: fit-content;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 5px;
    }

    .category ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .category li {
        width: 170px;
        font-size: 16px;
    }

    input[type="search"] {
        width: 350px;
        height: 35px;
    }

    .container_card {
        width: 100%;
        height: fit-content;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 300px);
        column-gap: 80px;
        margin: 20px 0px;
    }

}