main {
    width: 100%;
    height: 78%;
    min-height: 78vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 15px 0px;
}

.category {
    height: fit-content;
    margin: 0px 10px 0px 20px;
}

.category ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.category li {
    font-size: 13px;
    list-style-type: none;
    margin: 0px 10px 0px 0px;
}

.category li a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
}

.busqueda{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px 30px 0px 0px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:stretch;
}

.form input[type="search"] {
    width: 250px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.541);
    margin: 0px 5px;
}

button{
    width: 28px;
    height: 25px;
}

button i {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.container_card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: 230px;
    height: 300px;
    border-radius: 3px;
    background-color: rgba(202, 202, 202, 0.733);
    border: 2px solid transparent;
    margin: 20px 25px;
}

.precio {
    color: black;
}

.item img {
    width: 100%;
    height: 170px;
    margin: 0px 0px 25px 0px;
    box-shadow: -4px -4px 10px 3px rgba(0, 0, 0, 0.52);
}

.card-imagen {
    display: relative;
    overflow: hidden;
  }
  
  .zoomable {
    transition: transform .6s;
  
    display: absolute;
  }
  
  .zoomable:hover {
    transform: scale(1.2);
  }

.titulo_dos {
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
    margin: 10px 0px;
}

.detalles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 10px 0px;
}

.detalles p {
    font-size: 15px;
    margin: 0px 10px;
}

.precio {
    font-weight: bolder;
}

.boton_d {
    width: fit-content;
    border: 1px solid rgb(180, 0, 105);
    background-color: rgba(92, 90, 90, 0.575);
    border-radius: 3px;
    padding: 6px 7px;
    box-shadow: -2px -2px 6px 2px rgba(58, 51, 51, 0.52);
}

.boton_d:hover{
        -webkit-animation: 0.5s click 1;
    }
    
    @-webkit-keyframes click{
        70%, 50%{
            -webkit-transform:scale(1.1);
        }
    }

.boton_d a {
    text-decoration-line: none;
    color: black;
}

@media screen and (max-width: 689px) {
    main{
        min-height: 78vh;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .category{
        margin-bottom: 15px ;
    }

    .category ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .category li {
        width: 130px;
        font-size: 12px;
    }

    .form input[type="search"] {
        width: 160px;
        height: 20px;
    }

    button{
        width: 20px;
        height: 20px;
    }

    button i {
        font-size: 13px;
    }

    .container_card {
        width: 100%;
        display: flex;
        flex-direction: column;            
        justify-content: center;
        align-items: center;
    }

    .item {
        width: 200px;
        height: 260px;
    }

    .item img {
        width: 80%;
        height: 110px;
    }

    .titulo_dos {
        font-size: 14px;
    }
}

@media screen and (min-width: 690px) and (max-width: 1024px) {
    main{
        height: fit-content;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .category ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .category li {
        width: 170px;
        font-size: 16px;
    }

    .form input[type="search"] {
        width: 200px;
        height: 25px;
    }

    .container_card {
        width: 100%;
        height: fit-content;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 300px);
        column-gap: 80px;
        margin: 20px 0px;
    }

}